<br>
<br>

<form  [formGroup]="formFilter"  (ngSubmit)="onSubmit()"  class="container">
  
    <div class="row">
        <div class="col-md-2">
            <label class="form-group">Filtrar:</label>
        </div>
    </div>

    <div class="row">

        <div class="col-md-4">
            <select (change)="changeFilters()" class="form-select" aria-label="Disabled select example"  formControlName="filterBy" >
                <option *ngFor="let item of filtersBy" [value]="item.id">
                    {{item.name}}
                </option>
            </select>
        </div>

        <br>
        <br>

        <div class="col-md-4">
            <select class="form-select" aria-label="Disabled select example" formControlName="filter">
                <option *ngFor="let item of filters" [value]="item">
                    {{item}}
                </option>
            </select>

        </div>

       
        <div class="col-md-4">
            <button type="submit" class="btn btn-primary" [disabled]="formFilter.invalid">Aplicar</button>
        </div>
    </div>

    
   
</form>
