<table class="table table-hover container">
    <thead class="gray" >
      <tr class="center">
        <th scope="col">Nombre</th>
        <th scope="col">País</th>
        <th scope="col">Resultado</th>
      </tr>
    </thead>
    <tbody *ngFor="let person of people">
      
        <tr class="center pointer" *ngIf="person" (click)="openPerson(person)" >
          <td>{{person.name}}</td>
          <td>{{person.country}}</td>

          <td [ngClass]="{'red': person.result == 'infected', 
                          'green':person.result =='healthy', 
                          'blue':person.result == 'inmune'}">

            <span *ngIf="person.result == 'infected'">Infectado</span>
            <span *ngIf="person.result == 'healthy'">Sano</span>
            <span *ngIf="person.result == 'inmune'">Inmune</span>
          </td>
          
        </tr>
    </tbody>
  </table>